<%if @tweet.like?(current_user)%>
    <%= link_to tweet_likes_path(@post), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <%end%>
<%else%>
    <%= link_to tweet_likes_path(@post), method: :post do %>
        <span>❤︎</span>
    <%end%>
<%end%>