
.top-page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 1vw 1vw 1vw;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
}

.nav {
  font-size: 15px;
  display: flex;
  width: 100%;
  padding: 0 3vw 1vw 2vw;
  text-decoration: none;
  color: #696969;
  justify-content: space-between;
  align-items: flex-start;
  

}

.category-list {
  text-decoration: none;
  margin-right: 5vw;
  color: #696969;
  
}

.brand-list {
  text-decoration: none;
  color: #696969;
  margin-right: 5vw;
}

.lists-right {
  align-items: flex-start;  
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-top: 45px;
}


.user-nickname {
  margin-right: 6vw;
  color: #696969;
  font-weight: bold;

}

.logout {
  text-decoration: none;
  color: #696969;
  margin-right: 6vw;
}

.login {
  text-decoration: none;
  margin-right: 6vw;
  color: #696969;
}

.sign-up {
  text-decoration: none;
  color: #696969;
  margin-right: 6vw;
}

.contact-list {
  
  text-decoration: none;
  color: #696969;
  padding: 0.6vw;
  background-color: #f7f7f7; /*背景色*/
  border: 2px solid #ccc; /*線の太さ・色*/
  border-radius: 8px; /*角の丸み*/ 
}

.submit-btn {
  margin: 10vw 0vw 0vw 2vw;
  font-size: 1.5vw;
  font-weight: bolder;
  position: fixed;
  text-align: right;
  background-color: transparent;
  border: 2px solid #696969;
  color: #696966;
  line-height: 50px;
  margin-left: 5vw;
  padding: 0.5vw;
  border: 2px solid #ccc;
  border-radius: 8px;
}
.submit-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}

