
.top-page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 2vw;
  text-decoration: none;
  color: #696969;
}


.category-list {
  text-decoration: none;
  margin-right: 4vw;
  color: #696969;
}

.brand-list {
  text-decoration: none;
  color: #696969;
  margin-right: 4vw;
}

.lists-right {
  align-items: flex-start;  
  display: flex;
  list-style: none;
  
}


.user-nickname {
  margin-right: 4vw;
  color: #696969;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #696969;
  margin-right: 4vw;
}

.login {
  text-decoration: none;
  margin-right: 4vw;
  color: #696969;
}

.sign-up {
  text-decoration: none;
  color: #696969;
  margin-right: 4vw;
}

.contact-list {
  text-decoration: none;
  color: #696969;
  padding: 1vw;
  background-color: #f7f7f7; /*背景色*/
  border: 2px solid #ccc; /*線の太さ・色*/
  border-radius: 8px; /*角の丸み*/ 
}