<div class="contents row">
  <div class="success">
    <h3>送信が完了しました。</h3>
      <p class=small>
      お問い合わせから返信に2日程いただく場合がございます。恐れいますがお待ちください。
      </p>

    <a class="btn" href= root_path >メイン画面に戻る</a>
  </div>
</div>