.contents-box {
  width: 100vw;
  background-color: #ffffff;
}

.contact {
  background-color: rgb(246, 248, 241);
  margin: 1vw 15vw;
  text-align: left;
}

.contact_form{
  padding: 1vw 5vw ;
}

.contact_form_low{
  padding: 4vw 5vw ;
  display: flex;
  text-align: left;
}

.contact_form_comment{
  margin: 4vw 1vw 0 1vw;
  font-size: 12px;
}

.small {
  padding-top: 1vw;
}

.field {
  display: flex;
  justify-content: space-between;
}

.contact_box {
  width: 30vw;
  height: 2.5vw;
  margin: 0 7vw 1vw 5vw;
}

.comment_box {
  width: 30vw;
  height: 10vw;
  margin: 0 7vw 0 10vw;
}

.submit_btn {
  margin: 3vw 7vw 0 28vw;
  width: 20vw;
}

.subcomment{
  padding-top: 1vw;
  padding-bottom: 2vw;
}